<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/common :: head('인덱스 페이지')}"></th:block>
<body>
	<th:block th:replace="~{fragments/common :: header}"></th:block>

	<h1>게시글 목록</h1>

	<div class="container mt-3">
		<th:block th:if="${!postList.isEmpty()}">
			<div class="card" th:each="post : ${postList.content}">
				<div class="card-body">
					<h4 class="card-title" th:text="${post.title}">게시물제목</h4>
					<p class="card-text"></p>
					<a th:href="@{|/post/${post.postId - 1}|}" class="btn btn-secondary">상세보기</a>
				</div>
			</div>
		</th:block>
	</div>
	<br>

	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<li class="page-item"><a class="page-link" th:href="@{?page=0}"
				aria-label="Previous"
				th:classappend="${!pageDTO.prev} ? 'visually-hidden'"> <span
					aria-hidden="true">&laquo;</span>
			</a></li>
			<li class="page-item" th:classappend="${!pageDTO.prev} ? 'disabled'">
				<a class="page-link" th:href="@{|?page=${pageDTO.startPage - 2}|}">&lt;</a>
			</li>
			<li class="page-item" th:classappend="${postList.first} ? 'disabled'">
				<a class="page-link" th:href="@{|?page=${postList.number-1}|}">이전</a>
			</li>
			<li class="page-item"
				th:each="i : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}"
				th:classappend="${postList.number == i-1} ? 'active'"><a
				class="page-link" th:href="@{|?page=${i-1}|}" th:text="${i}"></a></li>
			<li class="page-item" th:classappend="${postList.last} ? 'disabled'">
			<li class="page-item" th:classappend="${postList.last} ? 'disabled'">
				<a class="page-link" th:href="@{|?page=${postList.number+1}|}">다음</a>
			</li>
			<li class="page-item" th:classappend="${!pageDTO.next} ? 'disabled'">
				<a class="page-link" th:href="@{|?page=${pageDTO.endPage}|}">&gt;</a>
			</li>
			<li class="page-item"
				th:classappend="${!pageDTO.next} ? 'visually-hidden'"><a
				class="page-link" th:href="@{|?page=${postList.totalPages-1}|}"
				aria-label="Next"> <span aria-hidden="true">&raquo;</span>
			</a></li>
		</ul>
	</nav>
	<th:block th:replace="~{fragments/common :: footer}"></th:block>
	<th:block th:replace="~{fragments/common :: scripts}"></th:block>
</body>
</html>