<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/common :: head('게시글 작성')}"></th:block>
<body>
	<th:block th:replace="~{fragments/common :: header}"></th:block>
	<div class="container mt-3">
		<form>
			<div class="mb-3 mt-3">
				<label for="title" class="form-label">Title:</label> <input
					type="text" class="form-control" id="title"
					placeholder="Enter title" name="title">
			</div>
			<div class="mb-3">
				<label for="content" class="form-label">Content:</label>
				<textarea class="form-control" id="content" rows="5" name="content"></textarea>
			</div>
			<button id="btn-insert" type="submit" class="btn btn-primary">게시물
				등록</button>
		</form>
	</div>
	<th:block th:replace="~{fragments/common :: footer}"></th:block>
	<th:block th:replace="~{fragments/common :: scripts}"></th:block>
	<script src="/js/post.js"></script>
</body>
</html>